<%- include("../partials/dashboard/dashboard.ejs") %>

<main>

    <section>
        <h2 class="title">
            Estás editando: <i> <%= product.name %></i> 
        </h2>
        <nav class="dashboard-products-buttons" >

            <button id="button1">
                Cambiar imagen
            </button>

            <button id="button2"> 
                Editar Datos
            </button>
            
        </nav>

        <div class="dashboard-products <%= !locals.tab ? "hidden": null %>" id="dashboard-details">

            <div class="table-responsive">
                <div class="form-box"> 
                    <form action="<%= (locals.dashboardlink ? dashboardlink : null) + "/products/image/" + product.id + "?_method=PUT" %>" method="post" enctype="multipart/form-data" id="editImageFForm">
                        <div class="form-content-box">
                            <%- include("../partials/products/productImage.ejs") %>
                            <%- include("../partials/dashboard/editProductBtn.ejs") %>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="dashboard-products <%= locals.tab ? "hidden": null %>" id="dashboard-table" >

            <div class="table-responsive">
                <div class="form-box"> 
                    <form action="<%= (locals.dashboardlink ? dashboardlink : null) + "/products/edit/" + product.id + "?_method=PUT" %>" method="post" id="createProductForm">
    
                        <div class="form-content-box">
                            <%- include("../partials/products/productForm.ejs") %>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </section>
</main>
</body>
</html>