<%- include("../partials/dashboard/dashboard.ejs") %>

<main>

    <section>

        <%- include("../partials/dashboard/dashboardSearchbar.ejs") %> 

    </section>

    <section>
        <nav class="dashboard-products-buttons" >

            <button id="button1">
                Detalles
            </button>

            <button id="button2">
                Tabla
            </button>
            
        </nav>

        <div class="dashboard-products hidden" id="dashboard-details">

            <h2 class="products-title">
                <%= label %>
            </h2>

            <div class="articles-box">
                <% for (product of products) {%>
                    <%- include("../partials/article.ejs", { carrusel: false }) %>
                <% } %>
            </div>

        </div>

        <div class="dashboard-products" id="dashboard-table" >

            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="7"><%= label %></th>
                        </tr>
                        <tr>
                            <th> </th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Descuento</th>
                            <th>Categoría</th>
                            <th>Visitas</th>
                            <th>Ventas</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% let counter = 0 %>
                            <% for (const product of products) { %>
                                <tr>
                                    <% counter = counter + 1 %>
                                    <td><%= counter %></td>
                                    <td>
                                        <a href="<%=  dashboardlink %>/products/<%= product.id %>">
                                            <%= product.name %>
                                        </a>
                                    </td>
                                    <td>$<%= toThousand(product.price) %></td>
                                    <td><%= product.discount %></td>
                                    <td>
                                        <% for (const category of categories) {%>
                                            <%= category.id == product.category ? category.category : null  %> 
                                        <% } %>
                                    </td>
                                    <td><%= product.views ? product.views : 0 %></td>
                                    <td><%= product.sales ? product.sales : 0 %></td>
                                </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>

        </div>

    </section>
</main>
</body>
</html>