<%- include("../partials/dashboard/dashboard.ejs") %> 
<main class="dashboard-home">
    <header >
        <h1>
            <%= title %>
        </h1>
    </header>
    <section class="summary-card-container">
        <% for (const card of data) {%>
            <%- include("../partials/dashboard/summaryCard.ejs", {card}) %>
        <% } %>
    </section>
    <div class="data-container">
        <section class="product-highlight-box">
            <header class="product-highlight-header">
                <h3 class="product-highlight-title">Producto Más vendido</h3>
            </header>
            <%- include("../partials/dashboard/mostSold.ejs") %>
        </section>
        <div class="categories-status-container">
            <section class="cards-box">
                <header class="cards-header">
                    <h3 class="cards-title">Categorías en la Base de Datos</h3>
                </header>
                <div class="cards-container">
                    <% for (const item of categories) {%>
                        <%- include("../partials/dashboard/infoCards", {item}) %>
                    <% } %>
                </div>
            </section>
            <section class="cards-box">
                <header class="cards-header">
                    <h3 class="cards-title">Estados en la Base de Datos</h3>
                </header>
                <div class="cards-container">
                    <% for (const item of status) {%>
                        <%- include("../partials/dashboard/infoCards.ejs", {item}) %>
                    <% } %>
                </div>
            </section>
        </div>
    </div>
</main>

</body>
</html>