<%- include("../partials/dashboard/dashboard.ejs") %>

<main>

    <section>
        <nav class="dashboard-products-buttons" >

            <button id="button1"> 
                Estados
            </button>

            <button id="button2">
                Categorías
            </button>
            
        </nav>

        <div class="dashboard-products <%= locals.tab == 1 ? "hidden": null %>" id="dashboard-details">

            <% if (locals.status) { %>
                <div class="form-box cat-stat">
                    <form action="/dashboard/editStatus/<%= status.id  %>?_method=PUT" method="post" class="form-content-box cat-stat">

                        <div class="form-input-label-box">
                            <label class="form-label-product" id="editStatus">
                                Editando estado <%= status.id %>: <%= status.status %>
                            </label>
                            <input type="text" class="form-input-product" id="editStatus" name="status" value="<%= status.status %>">
                            <span class="login-item error"><%= (locals.errors && errors.status) ? errors.status.msg : null %></span>
                        </div>

                        <div class="dashboard-products-buttons">
                            <button type="submit">
                                Editar
                            </button>
                        </div>

                    </form>
                </div>
            <% } else { %>
                <div class="form-box cat-stat">
                    <form action="/dashboard/newStatus" method="post" class="form-content-box cat-stat" id="newStatusForm">

                        <div class="form-input-label-box">
                            <label class="form-label-product" for="newStatus">
                                Nuevo estado
                            </label>
                            <input type="text" class="form-input-product" id="newStatus" name="status">
                            <span class="login-item error" id="error-newStatus"><%= (locals.errors && errors.status) ? errors.status.msg : null %></span>
                        </div>

                        <div class="dashboard-products-buttons">
                            <button type="submit" id="newStatusBtn">
                                Agregar
                            </button>
                        </div>

                    </form>
                </div>
            <% } %>

            <div class="table-responsive table-cat-status">
                <table class="table table-bordered" cellspacing="0">

                    <thead>
                        <tr>
                            <th colspan="2">Estados</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for (const status of statuses) { %>
                            <tr>
                                <td><%= status.status %></td>
                                <td class="table-button">
                                    <a href="/dashboard/editStatus/<%= status.id %>" class="dashboard-products-buttons">
                                        <button>
                                            Editar
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>

                </table>
            </div>
        </div>

        <div class="dashboard-products <%= locals.tab == 2 ? "hidden": null %>" id="dashboard-table" >

            <% if (locals.category) { %>
                <div class="form-box cat-stat">
                    <form action="/dashboard/editCategory/<%= category.id  %>?_method=PUT" method="post" class="form-content-box cat-stat" id="editCategoryForm">

                        <div class="form-input-label-box">
                            <label class="form-label-product" for="editCategory">
                                Editando Categoría <%= category.id %>: <%= category.category %>
                            </label>
                            <input type="text" class="form-input-product" id="editCategory" name="category" value="<%= category.category %>">
                            <span class="login-item error" id="error-editCategory"><%= (locals.errors && errors.category) ? errors.category.msg : null %></span>
                        </div>

                        <div class="dashboard-products-buttons">
                            <button type="submit" id="editCategoryBtn">
                                Editar
                            </button>
                        </div>

                    </form>
                </div>
            <% } else { %>
                <div class="form-box cat-stat">
                    <form action="/dashboard/newCategory" method="post" class="form-content-box cat-stat" id="newCategoryForm">

                        <div class="form-input-label-box">
                            <label class="form-label-product" for="newCategory">
                                Nueva Categoría
                            </label>
                            <input type="text" class="form-input-product" id="newCategory" name="category">
                            <span class="login-item error" id="error-newCategory"><%= (locals.errors && errors.category) ? errors.category.msg : null %></span>
                        </div>

                        <div class="dashboard-products-buttons">
                            <button type="submit" id="newCategoryBtn">
                                Agregar
                            </button>
                        </div>

                    </form>
                </div>
            <% } %>
            <div class="table-responsive table-cat-status">
                <table class="table table-bordered" cellspacing="0">

                    <thead>
                        <tr>
                            <th colspan="2">Categorías</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for (const category of categories) { %>
                            <tr>
                                <td><%= category.category %></td>
                                <td class="table-button">
                                    <a href="/dashboard/editCategory/<%= category.id %>" class="dashboard-products-buttons">
                                        <button>
                                            Editar
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>

                </table>
            </div>

        </div>

    </section>
</main>
</body>
</html>