<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/headerFixed.ejs") %>
    <main class="main-border">
        
            <h2 class="title">
                <% if (locals.cartButtons) { %>
                    Carrito  de  <%= username %>
                <% } else { %>
                    Detalle de la compra del día: <%= day %>/<%= month %>/<%= year %>
                <% } %>
                
            </h2>

            <% for (product of products) {%>
                <%- include("./partials/cartArticle.ejs") %>
            <% } %>

            <h2 class="title">
                Valor total de la compra: $<%= toThousand(cartAmount) %>
            </h2>

            <div class="cart-buy-button">
                <% if (locals.cartButtons) { %>
                <form action="/cart/payment" method="post">
                    <button type="submit" class="buy-button-cart">Comprar</button>
                </form>
                <% } else { %>
                    <a href="/users/profile/">
                        <button type="submit" class="buy-button-cart">Volver</button>
                    </a>
                <% } %>
            </div>
            
            
    </main>
    <%- include("./partials/footer.ejs") %>

</body>
</html>