<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/headerFixed.ejs") %>
    <main class="main-border">
        
        <h2 class="title">
            Editando producto <%= product %> del carrito  de  <%= username %>
        </h2>

        <article class="detail-box max">
            <form action="/cart/edit/<%= id %>?_method=PUT" method="post" class="cart-form" >
                <div class="cart-product">
                    <figure >
                        <img class="cart-product-img" src="/images/products/<%= image %>" alt="<%= product %>" >
                    </figure>
                    <div class="cart-product-detail-container">
                        <div class="cart-product-detail">
                            <h2 class="cart-product-name"><%= product %></h2>
                            <div class="cart-edit-quantity">
                                <label for="quantity" class="cart-label" >Cantidad:</label>
                                <input type="number" id="quantity" name="quantity" value="<%= quantity %>" class="cart-input">
                            </div>
                        </div>
                        <div class="cart-button-box">
                            <div class="cart-buy-button">
                                <a href="/" >
                                    <button type="submit" class="buy-button-cart">Guardar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
        </article>

            
    </main>
    <%- include("./partials/footer.ejs") %>

</body>
</html>