<%- include("./partials/dashboard.ejs") %>

<main>

    <section>
        <nav class="dashboard-products-buttons" >

            <button onclick="toggleElement(1)">
                Sin entregar
            </button>

            <button onclick="toggleElement(2)"> 
                Todas las ventas
            </button>
            
        </nav>

        <div class="dashboard-products hidden" id="dashboard-details">

            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="6"><%= label %></th>
                        </tr>
                        <tr>
                            <%- include("./partials/dashboardSaleHeader.ejs") %>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                            <% let counter = 0 %>
                            <% for (const sale of allSales) { %>
                                <% if (sale.undelivered) { %>
                                    <tr>
                                        <% counter = counter + 1 %>
                                        <td><%= counter %></td>
                                        <td>
                                            <%= sale.day %>/<%= sale.month %>/<%= sale.year %>
                                        </td>
                                        <td><%= sale.userID %></td>
                                        <td>$<%= sale.amount %></td>
                                        <td><%= sale.quantity %></td>
                                        <td><button>Entregar</button></td>
                                    </tr>
                                <% } %>
                            <% } %>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="dashboard-products" id="dashboard-table" >

            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="6"><%= label %></th>
                        </tr>
                        <tr>
                            <%- include("./partials/dashboardSaleHeader.ejs") %>
                            <th>¿Entregado?</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% counter = 0 %>
                            <% for (const sale of allSales) { %>
                                <tr>
                                    <% counter = counter + 1 %>
                                    <td><%= counter %></td>
                                    <td>
                                        <%= sale.day %>/<%= sale.month %>/<%= sale.year %>
                                    </td>
                                    <td><%= sale.userID %></td>
                                    <td>$<%= sale.amount %></td>
                                    <td><%= sale.quantity %></td>
                                    <td><%= sale.undelivered ? "No" : "Sí" %></td>
                                </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>

        </div>

    </section>
</main>
</body>
</html>