<%- include("./partials/dashboard.ejs") %>

<main>

    <section>
        <nav class="dashboard-products-buttons" >

            <button id="button1">
                Todas las ventas
            </button>

            <button id="button2"> 
                Sin entregar
            </button>
            
        </nav>

        <div class="dashboard-products hidden" id="dashboard-details">

            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="7"><%= label %></th>
                        </tr>
                        <tr>
                            <%- include("./partials/dashboardSaleHeader.ejs") %>
                            <th>¿Entregado?</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% for (const sale of data) { %>
                                <tr>
                                    <% counter = counter + 1 %>
                                    <td><%= counter %></td>
                                    <%- include("./partials/dashboardSaleData.ejs", {sale}) %>
                                    <td><%= sale.undelivered ? "No" : "Sí" %></td>
                                </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="dashboard-products" id="dashboard-table" >

            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="7"><%= label2 %></th>
                        </tr>
                        <tr>
                            <%- include("./partials/dashboardSaleHeader.ejs") %>
                            <th>Procesar</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% counter = 0 %>
                            <% for (const sale of data) { %>
                                <% if (sale.undelivered) { %>
                                    <tr>
                                        <% counter = counter + 1 %>
                                        <td><%= counter %></td>
                                        <%- include("./partials/dashboardSaleData.ejs", {sale}) %>
                                        <td>
                                            <form action="/dashboard/sales/<%= sale.id %>?_method=PUT"  class="dashboard-products-buttons" method="post">
                                                <button>
                                                    Entregar
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                <% } %>
                            <% } %>
                            <% if (counter == 0) { %>
                                <tr>
                                    <td colspan="7">No hay pedidos pendientes de entrega</td>
                                </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>

        </div>

    </section>
</main>
</body>
</html>