<%- include("./partials/dashboard.ejs") %>

<main>

    <section>

        <%- include("./partials/dashboardSearchbar.ejs") %>

    </section>

    <section>
        <nav class="dashboard-products-buttons" >

            <button id="button1">
                Detalles
            </button>

            <button id="button2">
                Tabla
            </button>
            
        </nav>

        <div class="dashboard-products hidden" id="dashboard-details">

            <h2 class="products-title">
                <%= label %>
            </h2>

            <div class="articles-box">
                <% for (user of users) {%>
                    <%- include("./partials/user.ejs") %>
                <% } %>
            </div>

        </div>

        <div class="dashboard-products" id="dashboard-table" >

            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="8"><%= label %></th>
                        </tr>
                        <tr>
                            <th> # </th>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>E-Mail</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Perfil</th>
                            <th>¿Cambiar Perfil?</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% let counter = 0 %>
                            <% for (const user of users) { %>
                                
                                <tr>
                                    <% counter = counter + 1 %>
                                    <td>
                                        
                                            <%= counter %></td>
                                        </a>
                                    <td>
                                        <a href="<%=  dashboardlink %>/users/<%= user.id %>">       
                                            <%= user.username %>
                                        </a>
                                    </td>
                                    <td><%= user.name %></td>
                                    <td><%= user.email %></td>
                                    <td><%= user.phone %></td>
                                    <td><%= user.address %></td>
                                    <td><%= user.profile == 3 ? "Administrador" : "Comprador"  %></td>
                                    <td>
                                        <form action="/dashboard/profile/<%= user.id %>?_method=PUT" class="dashboard-products-buttons" method="post">
                                            <button>
                                                Cambiar
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>

        </div>

    </section>
</main>
</body>
</html>