<%- include("./partials/dashboard.ejs") %>

<main>

    <section>
        
            <div class="logo-search">
                <form action="/dashboard/searchProducts" method="get" class="search-bar">
                    <input type="search" class="search-field" name="search">
                    <button type="submit" class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>

    </section>

    <section>

        <details name="products" >

            <summary>
                Tarjetas
            </summary>

            <h2 class="title">
                <%= label %>
            </h2>

            <div class="articles-box">
                <% for (product of products) {%>
                    <%- include("./partials/article.ejs") %>
                <% } %>
            </div>

        </details>

        <details name="products" open >

            <summary>
                Tabla
            </summary>

            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="7"><%= label %></th>
                        </tr>
                        <tr>
                            <th> </th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Descuento</th>
                            <th>Categoría</th>
                            <th>Visitas</th>
                            <th>Ventas</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% for (const product of products) { %>
                                <tr>
                                    <td><%= product.id %></td>
                                    <td><%= product.name %></td>
                                    <td>$<%= toThousand(product.price) %></td>
                                    <td><%= product.discount %></td>
                                    <td>
                                        <% for (const category of categories) {%>
                                            <%= category.id == product.category ? category.category : null  %> 
                                        <% } %>
                                    </td>
                                    <td><%= product.views ? product.views : 0 %></td>
                                    <td><%= product.sold ? product.sold : 0 %></td>
                                </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>

        </details>

    </section>
</main>

</body>
</html>