<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/headerFixed.ejs") %>
    <div class="main-border">
        <main>
            <section>
                <h2 class="title">
                    <%= sectionTop.title %>
                </h2>

                <div class="articles-box swiper mySwiper">
                    <div class="swiper-wrapper">
                        <% for (product of sectionTop.data) {%>
                            <%- include("./partials/article.ejs", { carrusel: true }) %>
                        <% } %>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </section>

            <section>
                <h2 class="title">
                    <%= sectionBottom.title %>
                </h2>

                <div class="articles-box swiper mySwiper" id="carrousel-bottom">
                    <div class="swiper-wrapper">
                        <% for (product of sectionBottom.data) {%>
                            <%- include("./partials/article.ejs", { carrusel: true }) %>
                        <% } %>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </section>

        </main>
    </div>
    <%- include("./partials/footer.ejs") %>
    <% if (locals.cdn) { %>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="/js/main/carousel.js"></script>
    <% } %>
</body>
</html>