<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/header.ejs") %>
    <div class="main-border">
        <div class="banner">
            <img src="/images/img-home-banner.jpg"  alt="Banner">
        </div>

        <main>
            <section>
                <h2 class="title">
                    Basado en tu última visita
                </h2>

                <div class="articles-box">
                    <% for (product of visited) {%>
                        <%- include("./partials/article.ejs") %>
                    <% } %>
                </div>
            </section>

            <section>
                <h2 class="title">
                    Ofertas
                </h2>

                <div class="articles-box">
                    <% for (product of inSale) {%>
                        <%- include("./partials/article.ejs") %>
                    <% } %>
                </div>
            </section>

        </main>
    </div>
    <%- include("./partials/footer.ejs") %>

</body>
</html>