<%- include("./partials/head.ejs") %>
<body>

    <%- include("./partials/headerStatic.ejs") %>
    <div class="main-border-form">
        <main>
            <form action="/users/login" method="post" class="login-form">
                <div class="login-item">
                    <label for="username">Nombre de usuari@</label>
                    <input type="text" id="username" name="username" value="<%= locals.old ? old : null %>">
                </div>
                <span class="login-item error"><%= locals.error && error.username ? error.username.msg : null %></span>

                <div class="login-item">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password">
                </div>
                <span class="login-item error"><%= locals.error && error.password ? error.password.msg : null %></span>

                <div class="login-options-container">
                    <div class="login-checkbox">
                        <input type="checkbox" name="rememberMe" id="rememberMe">
                        <label for="rememberMe">Recordarme</label>
                    </div>
                    <div class="login-options">
                        <div><a href="/users/register">¿No tienes cuenta? Registrate </a></div>
                        <div><a href="/users/recovery">¿Olvidó su contraseña?</a></div>
                    </div>
                </div>

                <button type="submit">Enviar</button>
            </form>
        </main>
    </div>

    <%- include("./partials/footer.ejs") %>

</body>
</html>