<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/header.ejs") %>
    <div>

        <main>
            <section>
                <h2 class="title">
                    Detalle del producto: <%= product.name %>
                </h2>

                <div class="detail-box">
                    <!-- <div class="row"> -->
                        <div class="detail-img-description-box">
                            <img src="/images/products/<%= product.image %>" alt="<%= product.name %>" class="detail-img">
                            <p class="detail-description">
                                <%= product.description %>
                            </p>
                        </div>
                        <div class="detail-info-box">
                            <article class="detail-info">
                                <h2 class="detail-title"><%= product.name %></h2>
                                    <% if (product.discount == 0) { %>
                                        <br>
                                        <p class="detail-price">
                                            Precio Final
                                        </p>
                                        <p class="detail-price">
                                            $<%= toThousand(product.price) %>
                                        </p>
                                        <br>
                                    <% } else { %>
                                        <p class="detail-price small">
                                            <span>$<%= toThousand(product.price) %></span>
                                            /
                                            <b><%= product.discount %>% OFF</b>
                                        </p>
                                        <p class="detail-price">
                                            Precio Final
                                        </p>
                                        <p class="detail-price">
                                            $<%= toThousand(product.finalPrice) %>
                                        </p>
                                    <% } %>
        
                                <ul class="info-list">
                                    <li>
                                        <i class="fas fa-credit-card"></i>
                                        <p>Pagá en 12 cuotas sin interes</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-store"></i>
                                        <p>Retiro gratis en locales del vendedor</p>
                                    </li>
                                </ul>

                                <br>
                                <br>
                                <br>
        
                                <a href="#" class="buy-button">COMPRAR AHORA</a>
                                
                                <hr>

                                <div class="button-box">
                                    <a href="/products/edit/<%= product.id %>" class="description-button edit">EDITAR PRODUCTO</a>
                                    <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                                        <button type="submit" class="description-button delete">ELIMINAR</button>
                                    </form>
                                </div>
                            </article>
                        </div>
                    <!-- </div> -->
                </div>

            </section>

        </main>
    </div>
    <%- include("./partials/footer.ejs") %>

</body>
</html>