<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/headerStatic.ejs') %>
	<!-- /Header -->

	<main>
		<section>
			
			<h2 class="title">
				Estás editando: <i><%= product.name %></i>
			</h2>

			<div class="form-box">
				<form action="/products/edit/<%= product.id %>?_method=PUT" method="post" enctype="multipart/form-data">
					<div class="form-content-box">
						
						<%- include("partials/productForm.ejs") %>
						
					</div>
				</form>
			</div>
		</section>
	</main>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>