<%- include("./partials/head.ejs") %>
<body class="register-form">
    
    <%- include("./partials/headerStatic.ejs") %>

    <div class="main-border-form">
        <main>

            <form action="/users/register" method="post" class="form-frame" enctype="multipart/form-data">

                <%- include("./partials/userFormMailUsername.ejs") %>

                <%- include("./partials/userFormPassword.ejs") %>

                <%- include("./partials/userFormButtons.ejs") %>

            </form>

        </main>
    </div>

    <%- include("./partials/footer.ejs") %>

</body>
</html>