<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/headerStatic.ejs") %>
    <main>
        <div class="profile-container">
            <section class="profile-avatar-box">
                <div class="avatar-box">
                    <img src="/images/users/<%= user.photo %>" alt="<%= user.username %>">
                </div>
                <h3 class="username-box">
                    <%= user.username %>
                </h3>
                
                <div class="profile-button-box">
                    <div class="button-container hidden" id="profile-data-button">
                        <a href="#">
                            <button>
                                Perfil
                            </button>
                        </a>
                    </div>
                    <div class="button-container" id="profile-history-button">
                        <a href="#">
                            <button>
                                Historial de compras
                            </button>
                        </a>
                    </div>
                    <% if (user.profile == 3) { %>
                        <div class="button-container">
                            <a href="/users/controlPanel">
                                <button>
                                    Panel de Control
                                </button>
                            </a>
                        </div>
                    <% } %>
                </div>
            </section>

            <div class="profile-data">
                
                <section class="profile-user-data" id="profile-user-data">
                    <div class="user-data-container">
                        <article class="user-data">
                            <ul>
                                <li> 
                                    <div class="user-data-title">
                                        <i class="fa-solid fa-address-card"></i>
                                        <h4>Nombre:</h4>
                                    </div>
                                    <p> <%= user.name %> </p>
                                </li>
                                <li>
                                    <div class="user-data-title">
                                        <i class="fa-solid fa-user"></i>
                                        <h4>Nombre de usuario:</h4>
                                    </div>    
                                    <p><%= user.username %>  </p>
                                </li>
                                <li> 
                                    <div class="user-data-title">
                                        <i class="fa-solid fa-at"></i>
                                        <h4>Email: </h4>
                                    </div>
                                    <p><%= user.email %> </p>
                                </li>
                                <li> 
                                    <div class="user-data-title">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <h4>Dirección: </h4>
                                    </div >
                                    <p><%= user.address %></p>
                                </li>
                                <li>
                                    <div class="user-data-title">
                                        <i class="fa-solid fa-square-phone"></i>
                                        <h4>Teléfono: </h4>
                                    </div>    
                                    <p><%= user.phone %> </p>
                                </li>
                            </ul>    
                        </article>
                        <article class="user-interest">
                            <ul>
                                <h3>Intereses</h3>
                                <% for (const interes of user.categories) { %>
                                    <li>
                                        <% for (const category of categories) {%>
                                            <%= category.id == interes ? category.category : null  %> 
                                        <% } %>
                                    </li>
                                <% } %>
                        </article>
                    </div>
                    <div class="user-data-buttons">
                        <a href="#">
                            <button id="edit-user-data">
                                Editar Informacion
                            </button>
                        </a>
                        <a href="#">
                            <button id="change-user-password">
                                Cambiar contraseña
                            </button>
                        </a>
                        <a href="#" id="change-user-avatar">
                            <button>
                                Cambiar Avatar
                            </button>
                        </a>
                    </div>

                    <div class="user-data-container <%= (locals.errors && errors.password) ? null : "hidden" %>"" id="password-change-form">
                        <form action="/users/password?_method=PUT" method="post" class="form-frame">
                            <%- include("./partials/userFormPassword.ejs") %>
                            <div class="profile-button-box">
                                <div class="button-container">
                                    <a href="#">
                                        <button type="submit">
                                            Aceptar
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="user-data-container <%= (locals.errors && errors.photo) ? null : "hidden" %>" id="avatar-change-form">
                        <form action="/users/avatar?_method=PUT" method="post" class="form-frame"  enctype="multipart/form-data">
                            <%- include("./partials/userFormAvatar.ejs") %>
                            <div class="profile-button-box">
                                <div class="button-container">
                                    <a href="#">
                                        <button type="submit">
                                            Aceptar
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="user-data-container <%= (locals.errors && errors.form) ? null : "hidden" %>" id="profile-edit-form">
                        <form action="/users/editdata?_method=PUT" method="post" class="form-frame">
                            <%- include("./partials/userForm.ejs") %>
                        </form>
                    </div>

                </section>
        
                <section class="purchase-history hidden" id="purchase-history">
                    <div class="table-responsive">
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th colspan="4">Historial de compras</th>
                                </tr>
                                <tr>
                                    <th> </th>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (locals.purchases.length > 0) { %>
                                    <% for (const purchase of purchases) { %>
                                        <tr>
                                            <td><%= purchase.counter %></td>
                                            <td><%= purchase.day %> / <%= purchase.month %> / <%= purchase.year %></td>
                                            <td>$<%= purchase.amount %></td>
                                            <td><%= purchase.quantity %></td>
                                        </tr>
                                    <% } %>
                                    <% } else { %>
                                        <tr>
                                            <th colspan="4">Aún no ha realizado compras</th>
                                        </tr>
                                <% } %>
                                
                                
                            </tbody>
                        </table>
        
                </section>
        
            </div>
        </div>
    </main>
    <%- include("./partials/footer.ejs") %>

</body>
</html>