<%- include("./partials/head.ejs") %>
<body class="register-form">
    
    <%- include("./partials/headerStatic.ejs") %>

    <div class="main-border-form">
        <main>
            <h2 class="title">
                Registro de usuario
            </h2>
            <form action="/users/register" method="post" class="form-frame register" enctype="multipart/form-data">

                <%- include("./partials/userFormMailUsername.ejs") %>

                <%- include("./partials/userFormPassword.ejs") %>

                <%- include("./partials/userFormButtons.ejs") %>

            </form>
            <div class="login-options">
                <div><a href="/users/login">¿Ya tienes cuenta? Loguea </a></div>
            </div>
        </main>
    </div>

    <%- include("./partials/footer.ejs") %>

</body>
</html>