<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/headerStatic.ejs") %>
    <main class="profile-container">
        
        <aside class="profile-avatar-box">
            <figure class="avatar-box">
                <img src="/images/users/<%= user.avatar %>" alt="<%= user.username %>">
            </figure>

            <h3 class="username-box">
                <%= user.username %>
            </h3>
            
            <nav class="profile-button-box">

                        <button class="button-container hidden" id="profile-data-button">
                            Perfil
                        </button>


                        <button class="button-container" id="profile-history-button">
                            Compras
                        </button>

                <% if (user.profile == 3) { %>
                        <a href="/dashboard">
                            <button class="button-container">
                                Panel de Control
                            </button>
                        </a>
                <% } %>
            </nav>
        </aside>

        <div class="profile-data">
            <section class="profile-user-data" id="profile-user-data">

                <nav class="user-data-buttons profile-buttons">

                        <button onclick="toggleElement(1)">
                            Datos del usuario
                        </button>

                        <button onclick="toggleElement(2)">
                            Cambiar contraseña
                        </button>

                        <button onclick="toggleElement(3)">
                            Cambiar Avatar
                        </button>

                        <button onclick="toggleElement(4)">
                            Editar Información
                        </button>

                </nav>
                
                <section class="profile-info">
                    <article class="user-data-container" id="user-info" <%= (locals.errors ) ? "hidden" : null %>>
                        <ul class="user-data">
                            <li> 
                                <header class="user-data-title">
                                    <i class="fa-solid fa-address-card"></i>
                                    <h4>Nombre:</h4>
                                </header>
                                <p> <%= user.name %> </p>
                            </li>
                            <li>
                                <header class="user-data-title">
                                    <i class="fa-solid fa-user"></i>
                                    <h4>Nombre de usuario:</h4>
                                </header>    
                                <p><%= user.username %>  </p>
                            </li>
                            <li> 
                                <header class="user-data-title">
                                    <i class="fa-solid fa-at"></i>
                                    <h4>Email: </h4>
                                </header>
                                <p><%= user.email %> </p>
                            </li>
                            <li> 
                                <header class="user-data-title">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <h4>Dirección: </h4>
                                </header >
                                <p><%= user.address %></p>
                            </li>
                            <li>
                                <header class="user-data-title">
                                    <i class="fa-solid fa-square-phone"></i>
                                    <h4>Teléfono: </h4>
                                </header>    
                                <p><%= user.phone %> </p>
                            </li>
                        </ul>    
                        
                        <ul class="user-interest">
                            <h3>Intereses</h3>
                            <% for (const interes of user.categories) { %>
                                <li>
                                    <% for (const category of categories) {%>
                                        <%= category.id == interes ? category.category : null  %> 
                                    <% } %>
                                </li>
                            <% } %>
                        </ul>
                    </article>

                    <article class="user-data-container <%= (locals.errors && errors.password) ? null : "hidden" %>" id="password-change-form">
                        <form action="/users/password?_method=PUT" method="post" class="form-frame">
                            <%- include("./partials/userFormPassword.ejs") %>
                            <div class="profile-button-box">
                                <button type="submit" class="button-container">
                                    Aceptar
                                </button>
                            </div>
                        </form>
                    </article>

                    <article class="user-data-container <%= (locals.errors && errors.avatar) ? null : "hidden" %>" id="avatar-change-form">
                        <form action="/users/avatar?_method=PUT" method="post" class="form-frame"  enctype="multipart/form-data">
                            <%- include("./partials/userFormAvatar.ejs") %>
                            <div class="profile-button-box">
                                <button type="submit" class="button-container">
                                    Aceptar
                                </button>
                            </div>
                        </form>
                    </article>

                    <article class="user-data-container <%= (locals.errors && errors.form) ? null : "hidden" %>" id="profile-edit-form">
                        <form action="/users/editdata?_method=PUT" method="post" class="form-frame">
                            <%- include("./partials/userForm.ejs") %>
                        </form>
                    </article>

                </section>
            </section>
    
            <section class="purchase-history hidden" id="purchase-history">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="4">Historial de compras</th>
                        </tr>
                        <tr>
                            <th> </th>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (locals.purchases.length > 0) { %>
                            <% for (const purchase of purchases) { %>
                                <tr>
                                    <td><%= purchase.counter %></td>
                                    <td><%= purchase.day %> / <%= purchase.month %> / <%= purchase.year %></td>
                                    <td>$<%= purchase.amount %></td>
                                    <td><%= purchase.quantity %></td>
                                </tr>
                            <% } %>
                            <% } else { %>
                                <tr>
                                    <th colspan="4">Aún no ha realizado compras</th>
                                </tr>
                        <% } %>
                    </tbody>
                </table>
            </section>
        </div>
        
    </main>
    <%- include("./partials/footer.ejs") %>

    <script src="/js/profile.js"></script>
</body>
</html>