<%- include("./partials/head.ejs") %>
<body class="register-form">
    
    <%- include("./partials/headerStatic.ejs") %>

    <div class="main-border-form">
        <main>

            <form action="/users/edit/<%= user.id %>?_method=PUT" method="post" class="form-frame" enctype="multipart/form-data">
                
                <%- include("./partials/userForm.ejs") %>
                
            </form>

        </main>
    </div>

    <%- include("./partials/footer.ejs") %>

</body>
</html>