<div class="article-box">
    <article class="main-article">
        <a href="/products/<%= product.id %>">
            <figure class="img-article">
                <img src="/images/products/<%= product.image %>"  alt="<%= product.name %>">
            </figure>
            <div class="info-article-box">
                <div class="info-article">
                    <i class="fas fa-truck article"></i>
                    <p class="price">$<%= toThousand(product.price) %></p>
                    <p class="discount"><%= product.discount %>% OFF</p>
                </div>
                <h3 class="description"><%= product.name %></h3>
            </div>
        </a>
    </article>
</div>