<h2 class="title">
    Detalle del producto: <%= product.name %>
</h2>
<div class="prooduct-detail-container">
    <div class="prooduct-detail-box">
        <img src="/images/products/<%= product.image %>" alt="<%= product.name %>" class="product-detail-img">
        <p class="product-detail-description">
            <%= product.description %>
        </p>
    </div>
    <div class="product-detail-info-container">
        <article class="product-detail-info">
            <h2 class="detail-title"><%= product.name %></h2>
                <% if (product.discount == 0) { %>
                    <br>
                    <p class="detail-price">
                        Precio Final
                    </p>
                    <p class="detail-price">
                        $<%= toThousand(product.price) %>
                    </p>
                    <br>
                <% } else { %>
                    <p class="detail-price small">
                        <span>$<%= toThousand(product.price) %></span>
                        /
                        <b><%= product.discount %>% OFF</b>
                    </p>
                    <p class="detail-price">
                        Precio Final
                    </p>
                    <p class="detail-price">
                        $<%= toThousand(product.finalPrice) %>
                    </p>
                <% } %>

            <ul class="info-list">
                <li>
                    <i class="fas fa-credit-card"></i>
                    <p>Pagá en 12 cuotas sin interes</p>
                </li>
                <li>
                    <i class="fas fa-store"></i>
                    <p>Retiro gratis en locales del vendedor</p>
                </li>
            </ul>
            
            <% if (isLogged) { %>

                <% if (!locals.dashboardlink) { %>

                    <form action="/cart/add/<%= product.id %>" method="post">

                        <%- include("./productCounter.ejs")  %>
    
                        <button type="submit" class="buy-button"><i class="fa-solid fa-cart-plus"></i>Agregar al Carrito</button>
    
                    </form>

                <% } %>

                <% if (userlogged.profile == 3  && locals.dashboardlink ) { %>

                    <div class="button-box">
                        <a href="<%=locals.dashboardlink ? dashboardlink : null %>/products/edit/<%= product.id %>" class="description-button edit">EDITAR</a>
                        <form action="<%=locals.dashboardlink ? dashboardlink : null %>/products/delete/<%= product.id %>" method="get" style="display: inline-flex">
                            <button type="submit" class="description-button delete">ELIMINAR</button>
                        </form>
                    </div>

                <% } %>

            <% } %>

            
        </article>
    </div>
</div>