<div class="form-input-label-box">
    <label for="name" class="form-label">Nombre y apellido</label>
    <input type="text" id="name" name="name" placeholder="Tony Stark" class="form-input"  value="<%= locals.user ? user.name : null %>">
    <span class="login-item error"><%= (locals.errors && errors.name) ? errors.name.msg : null %></span>
</div>

<div class="form-input-label-box">
    <label for="name" class="form-label">Nombre de usuario</label>
    <input type="text" id="username" name="username" placeholder="IronMan" class="form-input"  value="<%= locals.user ? user.username : null %>">
    <span class="login-item error"><%= (locals.errors && errors.username) ? errors.username.msg : null %></span>
</div>

<div class="form-input-label-box">
    <label for="email" class="form-label">E-Mail</label>
    <input type="email" id="email" name="email" placeholder="IronMan@starkinc.com" class="form-input" value="<%= locals.user ? user.email : null %>">
    <span class="login-item error"><%= (locals.errors && errors.email) ? errors.email.msg : null %></span>
</div>

<div class="form-input-label-box">
    <label for="photo" class="form-label">Imagen del Perfil</label>
    <input type="file" id="photo" name="photo" class="form-input"  type=".jpg,.png,.bmp,.gif">
    <span class="login-item error"><%= (locals.errors && errors.photo) ? errors.photo.msg : null %></span>
</div>


<div class="form-input-label-box">
    <label for="phone" class="form-label">Teléfono</label>
    <input type="tel" id="phone" name="phone" placeholder="3514520439" class="form-input" value="<%= locals.user ? user.phone : null %>" >
    <span class="login-item error"><%= (locals.errors && errors.phone) ? errors.phone.msg : null %></span>
</div>

<div class="form-input-label-box">
    <label for="address" class="form-label">Domicilio</label>
    <input type="text" id="address" name="address" placeholder="Calle Falsa 123" class="form-input"  value="<%= locals.user ? user.address : null %>">
    <span class="login-item error"><%= (locals.errors && errors.address) ? errors.address.msg : null %></span>
</div>

<div class="form-input-label-box">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" id="password" name="password" class="form-input" <%= !locals.user  ? "required" : null %>  >
    <span class="login-item error"><%= (locals.errors && errors.password) ? errors.password.msg : null %></span>
</div>

<div class="form-input-label-box">
    <label for="confirm" class="form-label">Confirmar contraseña</label>
    <input type="password" id="confirm" name="confirm" class="form-input" <%= !locals.user  ? "required" : null %>  >
    <span class="login-item error"></span>
</div>

<div class="form-big-box">
    <label >Categorías de interés</label>
        <% for (const category of categories) { %>
            <div class="form-radio">
                <input  type="checkbox" 
                        name="categories" 
                        value="<%= category.id %>" 
                        id="<%= category.category %>" 
                        <% if (locals.user && user.categories) { %>
                            <% for (const interest of user.categories) { %>
                                <%= (interest == category.id) ? 'checked' : null %>
                            <% } %>
                        <% } %>
                >
                <label for="<%= category.category %>"><%= category.category %></label>
            </div>
        <% } %>
</div>

<div class="form-big-box">
    <button type="submit" class="save-button">Enviar</button>
</div>
