<div class="article-box">
    <article class="main-article">
        <a href="<%= locals.dashboardlink ? dashboardlink : null %>/users/<%= user.id %>">
            <figure class="img-article">
                <img src="/images/users/<%= user.avatar %>"  alt="<%= user.username %>">
            </figure>
            <div class="info-article-box">
                <div class="info-article">
                    <i class="fa-solid fa-circle-user article"></i>
                    <p class="price"><%= user.username %></p>
                    <p class="discount"><%= user.name %></p>
                </div>
                <h3 class="description"><%= user.email %></h3>
            </div>
        </a>
    </article>
</div>