<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/headerFixed.ejs") %>
    <div class="main-border">

        <main>
            <section>
                <h2 class="title">
                    <%= label %>
                </h2>

                <div class="articles-box">
                    <% for (user of users) {%>
                        <%- include("../partials/users/user.ejs") %>
                    <% } %>
                </div>
            </section>

        </main>
    </div>
    <%- include("../partials/footer.ejs") %>

</body>
</html>