<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/headerStatic.ejs") %>
    <main class="profile-container">
        
        <aside class="profile-avatar-box">
            <figure class="avatar-box">
                <img src="/images/users/<%= user.avatar %>" alt="<%= user.username %>">
            </figure>

            <h3 class="username-box">
                <%= user.username %>
            </h3>
            
            <nav class="profile-button-box">

                        <button class="hidden" id="profile-data-button">
                            Perfil
                        </button>

                        <button id="profile-history-button">
                            Compras
                        </button>

                <% if (user.profile == 3) { %>
                        <a href="/dashboard">
                            <button class="button-container">
                                Panel de Control
                            </button>
                        </a>
                <% } %>
            </nav>
        </aside>

        <div class="profile-data">
            <section class="profile-user-data" id="profile-user-data">

                <nav class="user-data-buttons">

                        <button id="info-btn">
                            Datos del usuario
                        </button>

                        <button id="edit-btn">
                            Editar Información
                        </button>

                        <button id="pass-btn">
                            Cambiar contraseña
                        </button>

                        <button id="avatar-btn">
                            Cambiar Avatar
                        </button>

                </nav>
                
                <section class="profile-info">
                    <article class="user-data-container <%= locals.errors ? "hidden" : null %>" id="user-info" >
                        <h3>
                            Datos personales
                        </h3>
                        <ul class="user-data">
                            <li> 
                                <header class="user-data-title">
                                    <i class="fa-solid fa-address-card"></i>
                                    <h4>Nombre:</h4>
                                </header>
                                <p> <%= user.name %> </p>
                            </li>
                            <li>
                                <header class="user-data-title">
                                    <i class="fa-solid fa-user"></i>
                                    <h4>Nombre de usuario:</h4>
                                </header>    
                                <p><%= user.username %>  </p>
                            </li>
                            <li> 
                                <header class="user-data-title">
                                    <i class="fa-solid fa-at"></i>
                                    <h4>Email: </h4>
                                </header>
                                <p><%= user.email %> </p>
                            </li>
                            <li> 
                                <header class="user-data-title">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <h4>Dirección: </h4>
                                </header >
                                <p><%= user.address %></p>
                            </li>
                            <li>
                                <header class="user-data-title">
                                    <i class="fa-solid fa-square-phone"></i>
                                    <h4>Teléfono: </h4>
                                </header>    
                                <p><%= user.phone %> </p>
                            </li>
                        </ul>

                        <h3>Intereses</h3>

                        <ul class="user-interest">
                            <% for (const interes of user.categories) { %>
                                <li>
                                    <% for (const category of categories) {%>
                                        <%= category.id == interes ? category.category : null  %> 
                                    <% } %>
                                </li>
                            <% } %>
                        </ul>
                    </article>

                    <article class="user-data-container <%= (locals.errors && errors.password) ? null : "hidden" %>" id="password-change-form">
                        <form action="/users/password?_method=PUT" method="post" class="form-frame" id="password-form">
                            <%- include("../partials/users/userFormPassword.ejs") %>
                            <div class="profile-button-box">
                                <button type="submit" class="button-container" id="edit-password-btn">
                                    Aceptar
                                </button>
                            </div>
                        </form>
                    </article>

                    <article class="user-data-container <%= (locals.errors && errors.avatar) ? null : "hidden" %>" id="avatar-change-form">
                        <form action="/users/avatar?_method=PUT" method="post" class="form-frame"  enctype="multipart/form-data" id="avatar-form">
                            <%- include("../partials/users/userFormAvatar.ejs") %>
                            <div class="profile-button-box">
                                <button type="submit" class="button-container" id="avatar-change-btn">
                                    Aceptar
                                </button>
                            </div>
                        </form>
                    </article>

                    <article class="user-data-container <%= (locals.errors && errors.form) ? null : "hidden" %>" id="profile-edit-form">
                        <form action="/users/editdata?_method=PUT" method="post" class="form-frame" id="edit-profile-form" id="profile-form">
                            <%- include("../partials/users/userForm.ejs") %>
                        </form>
                    </article>

                </section>
            </section>
    
            <section class="purchase-history hidden" id="purchase-history">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="5">Historial de compras</th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Cantidad</th>
                            <th>Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (locals.purchases.length > 0) { %>
                            <% for (const purchase of purchases) { %>
                                <tr>
                                    <td><%= purchase.counter %></td>
                                    <td><%= purchase.day %>/<%= purchase.month %>/<%= purchase.year %></td>
                                    <td>$<%= toThousand(purchase.amount) %></td>
                                    <td><%= purchase.quantity %></td>
                                    <td>
                                        <a href="/users/saleDetail/<%= purchase.id %>" >Ver Detalle</a>
                                    </td>
                                </tr>
                            <% } %>
                            <% } else { %>
                                <tr>
                                    <th colspan="5">Aún no ha realizado compras</th>
                                </tr>
                        <% } %>
                    </tbody>
                </table>
            </section>
        </div>
        
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>